/DraftAssignment1_1/nbproject/private/
/DraftAssignment1_1/build/
/Lab_2/nbproject/private/
/Lab_2/build/
/Assignment2_DRAFT/nbproject/private/
/Assignment2_DRAFT/build/
/Assignment2_og/nbproject/private/
/Assignment2_og/build/
/Assignment2_DRAFT/dist/
/Assignment2_draft2/nbproject/private/
/Assignment2_draft2/build/
/Assignment2_90%/nbproject/private/
/Assignment2_90%/build/
/Assignment2_99%/nbproject/private/
/Assignment2_FINAL/nbproject/private/
/Assignment2_FINAL/build/
/HW3_draft1/nbproject/private/
/HW3draft.8.40/nbproject/private/
/HW3_draft2/nbproject/private/